dgtconv/com/exlibris/core/infra/api/xmlbeans/plugin_metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by aborowsk (Endeavor Information Systems Inc.) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<schema targetNamespace="http://www.exlibrisgroup.com/Plugins/1.0/" xmlns:pm="http://www.exlibrisgroup.com/Plugins/1.0/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <element name="metadata-config">
    <complexType>
      <sequence>
        <element name="pluginTypeName" type="string"/>
        <element name="deployName" type="string"/>
        <element name="className" type="string"/>
        <element name="initParameters" type="pm:initXml" minOccurs="0"/>
        <element name="description" type="string" minOccurs="0"/>
        <element name="version" type="string" minOccurs="0"/>
        <element name="materialType" type="string"/>
        <element name="resourceType" type="string" minOccurs="0"/>
        <element name="module" type="string" minOccurs="0"/>
        <element name="generalType" type="string"/>
        <element name="publicApi" type="string" minOccurs="0"/>
        <element name="implType" type="string"/>
        <element name="configuration" type="pm:config" minOccurs="0" maxOccurs="unbounded"/>
        <element name="contactPerson" type="pm:contactPerson" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="initXml">
    <sequence>
      <any namespace="##other" processContents="strict"/>
    </sequence>
  </complexType>
  <complexType name="config">
    <sequence>
      <any namespace="##other" processContents="strict"/>
    </sequence>
  </complexType>
  <complexType name="contactPerson">
    <sequence>
      <any namespace="##other" processContents="strict"/>
    </sequence>
  </complexType>

</schema>
