dgtconv/com/exlibris/core/infra/api/xmlbeans/webeditor_dublincore_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<schema targetNamespace="http://purl.org/dc/elements/1.1/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<element name="dc-conf">
		<complexType>
			<sequence>
				<element name="element" type="dc:element" maxOccurs="unbounded"/>
				<element name="validationRoutines" type="dc:validationRoutines"/>
				<element name="correctionRoutines" type="dc:correctionRoutines"/>
			</sequence>
		</complexType>
	</element>
	<complexType name="element">
		<sequence>
			<element name="code" type="string"/>
			<element name="desc" type="string"/>
			<element name="qualifiers" type="dc:qualifiers"/>
			<element name="validationRoutines" type="dc:validationRoutines"/>
			<element name="correctionRoutines" type="dc:correctionRoutines"/>
		</sequence>
	</complexType>
	<complexType name="validationRoutines">
		<sequence>
			<element name="validationRoutine" type="string" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="correctionRoutines">
		<sequence>
			<element name="correctionRoutine" type="string" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="qualifiers">
		<sequence>
			<element name="qualifier" type="dc:qualifier" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="qualifier">
		<sequence>
			<element name="code" type="string"/>
			<element name="desc" type="string"/>
			<element name="format" type="string"/>
			<element name="values" type="dc:values" minOccurs="0"/>
		</sequence>
	</complexType>


	<complexType name="values">
		<sequence>
			<element name="value" type="string" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

</schema>
