dgtconv/schemaorg_apache_xmlbeans/src/com/exlibris/core/infra/api/xmlbeans/external_resource_explorer_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<schema targetNamespace="http://www.loc.gov/zing/srw/configuration/"
		xmlns:srw="http://www.loc.gov/zing/srw/configuration/"
		xmlns="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified">


	<element name="ExternalResourceExplorer">
		<complexType>
		<sequence>
			<element name="RepositoryName" type="srw:RepositoryName" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<complexType name="RepositoryName"  >
		<sequence>
				<element name="protocol" type="srw:protocol" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
				<attribute name="name" type="string" use="required"/>
				<attribute name="type" type="string" use="optional"/>
	</complexType>

	<complexType name="protocol"  >
			<sequence>
				<element name="parm" type="srw:parm" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="type" type="string" use="required"/>
	</complexType>

	<complexType name="parm"  >
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required" />
			</extension>
		</simpleContent>
	</complexType>


</schema>
