dgtconv/schemaorg_apache_xmlbeans/src/com/exlibris/core/infra/api/xmlbeans/solr_field_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://com/exlibris/digitool/sds/xmlbeans" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sds="http://com/exlibris/digitool/sds/xmlbeans" elementFormDefault="qualified">
	<xs:element name="solr_field_types">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="field" type="sds:fieldInfo" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="fieldInfo">
			<xs:sequence>
				<xs:element name="fieldName" type="xs:string"/>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="multiplicity" type="xs:string"/>
			</xs:sequence>
	</xs:complexType>
</xs:schema>
