src/xsd/mets_rosetta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) by zvi fass (exlibris) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.exlibrisgroup.com/xsd/dps/rosettaMets" targetNamespace="http://www.exlibrisgroup.com/xsd/dps/rosettaMets" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.loc.gov/standards/xlink/xlink.xsd"/>
	<xsd:element name="mets">
		<xsd:annotation>
			<xsd:documentation>METS: Metadata Encoding and Transmission Standard.
			METS is intended to provide a standardized XML format for transmission of complex digital library objects between systems.  As such, it can be seen as filling a role similar to that defined for the Submission Information Package (SIP), Archival Information Package (AIP) and Dissemination Information Package (DIP) in the Reference Model for an Open Archival Information System.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="metsType"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="metsType">
		<xsd:annotation>
			<xsd:documentation>mets Complex Type.
			A Rosetta METS document consists of four possible subsidiary sections:  dmdSec (descriptive metadata section), amdSec (administrative metadata section), fileGrp (file inventory group) and structMap (structural map).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dmdSec" type="mdSecTypeIE" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>dmdSec: Description Metadata Section.
				In Rosetta this section records all of the Descriptive Metadata on the IE level (Type DC).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amdSec" type="amdSecType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>amdSec: Administrative Metadata Section.
				This section records all of the administrative metadata for all items in the METS object, and is divided into four subsections: techMD (technical metadata), rightsMD (intellectual property rights metadata), sourceMD (analog/digital source metadata), and digiprovMD (digital provenance metadata).  Each of these subsections follows the mdSecType model, they include metadata within the METS hub document (mdWrap).  Single techMD, rightsMD, sourceMD and digiprovMD elements are allowed per amdSec.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fileSec">
				<xsd:annotation>
					<xsd:documentation>fileSec: Content File Section.
				The content file section records information regarding all of the data files which comprise the digital library object.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fileGrp" minOccurs="1" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>fileGrp: File Group							In Rosetta the File Group element is used to define A Representation. This element list the files included in each of the Representations. Rosetta requires every IE to include by minimum one Representation.		</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="fileGrpType"/>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="structMap" type="structMapType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>structMap: Structural Map.
				The structural map is the heart of a METS document, defining the hierarchical arrangement of a primary source document which has been digitized.  This hierarchy is encoded as a tree of 'div' elements.
The naming convention of the IDs is the following: The ID of the REP has to be the prefix of the ID of the SM ,the suffix has to be '-X' where X is a running number of the Structual Map list. For example: fileGrp ID is 'rep1' the Structual Map ID should be 'rep1-1', 'rep1-2' etc.
Rosetta standard Physical SM should have two wrapping divs: The first div holds the LABEL of the SM(SM name as appears in Rosetta UI) and the second div holds the list of files.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="amdSecType">
		<xsd:annotation>
			<xsd:documentation>amdSecType: Complex Type for Administrative Metadata.
			The administrative metadata section consists of four possible subsidiary sections: techMD (technical metadata for text/image/audio/video files), rightsMD (intellectual property rights metadata), sourceMD (analog/digital source metadata), and digiprovMD (digital provenance metadata, that is, the history of migrations/translations performed on a digital library object from it's original digital capture/encoding).
			Rosetta includes all Metadata in the DNX format which is embedded in the METADATA section.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="techMD" type="mdSecType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>techMD: technical metadata.
				The techMD element provides a wrapper around a generic metadata section,  which should contain technical metadata regarding an object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rightsMD" type="mdSecType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>rightsMD: intellectual property rights metadata.
				The rightsMD element provides a wrapper around a generic metadata section,  which should contain access rights metadata.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sourceMD" type="mdSecType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>sourceMD: source metadata.
				The sourceMD element provides a wrapper around a  generic metadata section  which should contain descriptive or administrative metadata regarding the original source materials used to create the METS object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="digiprovMD" type="mdSecType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>digiprovMD: digital provenance metadata.
				The digiprovMD element is used to record information to allow both archival/library staff and scholars to understand what modifications have been performed to a digital object during its life cycle in order to judge how those processes might have altered or corrupted the object's ability to accurately represent the original item.(The Rosetta term for such information is 'Provenance Event') 			</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>ID: an required XML ID value
In Rosetta amdSec on the IE level has a naming convention and has to be named 'ie-amd' </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="fileGrpType">
		<xsd:annotation>
			<xsd:documentation>fileGrp: File Group.
					The file group is used to cluster all of the digital files composing a digital library object in a hierarchical arrangement. Any file group must contain one or more file elements.  File elements can contain only one FLocat element (a pointer to a file containing content for this object) .
				</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="file" type="fileType" minOccurs="1" maxOccurs="unbounded"/>
			<!-- file element originally here -->
		</xsd:choice>
		<xsd:attribute name="ID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>ID: an required XML ID value.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ADMID" type="xsd:IDREFS" use="required">
			<xsd:annotation>
				<xsd:documentation>ADMID: a required attribute specifying the XML ID values for administrative metadata sections in the METS document that provide information applicable to all of the files in this particular representation.
				Rosetta requires every representation to have a link to a amdSec which includes Metadata (in a dnx form) of the Preservation Type and Usage Type.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="USE" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>USE: an optional string attribute indicating the intended use of all the files within this file group (e.g., master, reference, thumbnails for image files). In Rosetta this information is taken from the DNX.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="structMapType">
		<xsd:annotation>
			<xsd:documentation>structMap Complex Type
			The structural map (structMap) outlines a hierarchical structure for the original object being encoded, using a series of nested div elements.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="div" type="divType">
				<xsd:annotation>
					<xsd:documentation>div: Division.
				The METS standard represents a document structurally as a series of nested div elements, that is, as a hierarchy (e.g., a book, which is composed of chapters, which are composed of subchapters, which are composed of text).  Every div node in the structural map hierarchy may be connected (via fptr elements) to content files which represent that div's portion of the whole document.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>ID: an required XML ID value.
				Rosetta enforces a naming convention as follows: The ID of the grp has to be the prefix of the ID of the SM ,the suffix has to be '-X' where X is a running number of the SM list.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TYPE" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>TYPE: an required attribute specifying the type of structural map provided.  Values will be &quot;PHYSICAL&quot; for a map which describes the physical composition of the original work (a series with individual monographs with pages) and &quot;LOGICAL&quot; for one which describes the intellectual structure of the work (a monograph with TOC, forward, chapters, index., etc.);
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="divType">
		<xsd:annotation>
			<xsd:documentation>Div Complex Type
				The METS standard represents a document structurally as a series of nested div elements, that is, as a hierarchy (e.g., a book, which is composed of chapters, which are composed of subchapters, which are composed of text).  Every div node in the structural map hierarchy may be connected (via subsidiary mptr or fptr 	elements) to content files which represent that div's portion of the whole document.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fptr" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>fptr: File Pointer.
				The fptr element associates a div element with content files that represent that div. It points to a file directly itself, via the FILEID attribute.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="FILEID" type="xsd:IDREF" use="required">
						<xsd:annotation>
							<xsd:documentation>FILEID: an IDREF to the file element which corresponds with the div containing this ftpr.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="div" type="divType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation>ID: an optional XML ID value. Note that Rosetta OOB viewers don't take any use of this attribute.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ORDER" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>ORDER: an optional integer representation of this div's order among its siblings (e.g., its sequence). Note that Rosetta OOB viewers don't take any use of this attribute.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ORDERLABEL" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>ORDERLABEL: an optional string representation of this div's  order among its siblings (e.g., &quot;xii&quot;), or a non-integer native numbering system.  It is presumed that this value will still be machine-actionable (e.g., supports a page 'go to' function), and is not a replacement/substitute for the LABEL attribute. Note that Rosetta OOB viewers don't take any use of this attribute.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="LABEL" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>LABEL: an optional string label to describe this div to an end user viewing the document, as per a table of contents entry (NB: a div LABEL should be specific to its level in the structural map.  In the case of a book with chapters, the book div LABEL should have the book title, and the chapter div LABELS should have the individual chapter titles, rather than having the chapter div LABELs combine both book title and chapter title).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TYPE" use="optional">
			<xsd:annotation>
				<xsd:documentation>TYPE: an optional string attribute for specifying a type of division. If Type is FILE Rosetta will create a link to the file in tree presented in the viewer.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FILE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="mdSecType">
		<xsd:annotation>
			<xsd:documentation>mdSec (metadata section) Complex Type
			A generic framework for pointing to/including metadata within a METS document, a la Warwick Framework.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="mdWrap" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>mdWrap: metadata wrapper.
				The mdWrap element is a generic element used throughout the METS schema to allow the encoder to place arbitrary metadata conforming to other standards/schema within a METS document.  The included metadata is encoded in XML,  it is placed directly within the mdWrap element.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="xmlData" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>xmlData:
									A wrapper element to contain XML encoded metadata.												</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any namespace="##any" processContents="lax" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
					<xsd:attributeGroup ref="METADATA"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="ID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>ID: a required XML ID value
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="mdSecTypeIE">
		<xsd:annotation>
			<xsd:documentation>mdSec (metadata section) Complex Type
			A framework for pointing to/including metadata within a METS document on a IE level, a la Warwick Framework.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="mdWrap">
				<xsd:annotation>
					<xsd:documentation>mdWrap: metadata wrapper.
				The mdWrap element is a generic element used throughout the METS schema to allow the encoder to place arbitrary metadata conforming to other standards/schema within a METS document.  The included metadata can be encoded in XML, in which case it is placed directly within the mdWrap element.		</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="xmlData">
							<xsd:annotation>
								<xsd:documentation>xmlData:
				A wrapper element to contain XML encoded metadata.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any namespace="##any" processContents="lax" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
					<xsd:attributeGroup ref="METADATA-DC"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="ID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>ID: a required XML ID value
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="fileType">
		<xsd:annotation>
			<xsd:documentation>file: File element.
				The file element provides access to content files for a METS object.  A file element may only one FLocat element, which provides a pointer to a content file.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FLocat" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>FLocat: File Location.
				The FLocat element provides a pointer to the location of a content file.    It uses the XLink syntax to provide linking information indicating the actual location of the content file, along with a few additional attributes	specifying additional linking information. When creating a mets to be deposited into Rosetta the path has to be relative to the 'streams' directory of the loaded material.
				NOTE: FLocat is an empty element.  The location of the resource pointed to MUST be stored in the xlink:href element.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attributeGroup ref="LOCATION"/>
					<xsd:attributeGroup ref="xlink:simpleLink"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>ID: an XML ID value.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="MIMETYPE" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>MIMETYPE: an optional string attribute providing the MIME type for the file.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ADMID" type="xsd:IDREFS" use="optional">
			<xsd:annotation>
				<xsd:documentation>ADMID: an optional attribute used to list the XML ID attribute values for administrative metadata sections in the METS document that provide information regarding this file.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:attributeGroup name="METADATA">
		<xsd:attribute name="MDTYPE" use="required">
			<xsd:annotation>
				<xsd:documentation>MDTYPE: a required attribute specifying the type of metadata being pointed at.
It must have one of the following values:
MARC: any form of MARC record
MODS: metadata in the Library of Congress MODS format
EAD: Encoded Archival Description finding aid
DC: Dublin Core
NISOIMG: NISO Technical Metadata for Digital Still Images
LC-AV: technical metadata specified in the Library of Congress A/V prototyping project
VRA: Visual Resources Association Core
TEIHDR: Text Encoding Initiative Header
DDI: Data Documentation Initiative
FGDC: Federal Geographic Data Committee metadata
OTHER: metadata in a format not specified above.
In Rosetta, For DNX sections use the type: OTHER.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="MARC"/>
					<xsd:enumeration value="MODS"/>
					<xsd:enumeration value="EAD"/>
					<xsd:enumeration value="DC"/>
					<xsd:enumeration value="NISOIMG"/>
					<xsd:enumeration value="LC-AV"/>
					<xsd:enumeration value="VRA"/>
					<xsd:enumeration value="TEIHDR"/>
					<xsd:enumeration value="DDI"/>
					<xsd:enumeration value="FGDC"/>
					<xsd:enumeration value="LOM"/>
					<xsd:enumeration value="PREMIS"/>
					<xsd:enumeration value="OTHER"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="OTHERMDTYPE" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>OTHERMDTYPE: Other Metadata Type
					an optional string which may be used to record the particular form of metadata referenced by this element when the MDTYPE attribute has a value of &quot;OTHER&quot;.
	                In Rosetta, For DNX sections use the &quot;dnx&quot; as the other metadata type.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="METADATA-DC">
		<xsd:attribute name="MDTYPE" use="required">
			<xsd:annotation>
				<xsd:documentation>MDTYPE: a required attribute specifying the type of metadata being pointed at.It must have the following value:DC: Dublin Core
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="DC"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="LOCATION">
		<xsd:attribute name="LOCTYPE" use="required">
			<xsd:annotation>
				<xsd:documentation>LOCTYPE: Location Type
				the type of locator used to reference a file.  It must have the following value:
URL: Uniform Resource Locator				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="URL"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
</xsd:schema>
