dgtconv/com/exlibris/digitool/repository/api/xmlbeans/libList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://com/exlibris/digitool/sds/xmlbeans" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sds="http://com/exlibris/digitool/sds/xmlbeans" elementFormDefault="qualified">
	<xs:element name="lib-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lib-record" type="sds:lib-record" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="no-lines" type="xs:string"/>
				<xs:element name="session-id" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:complexType name="lib-record">
			<xs:sequence>
				<xs:element name="code" type="xs:string"/>
				<xs:element name="name" type="xs:string" />
				<xs:element name="type" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>	
</xs:schema>
