dgtconv/schemaorg_apache_xmlbeans/src/com/exlibris/digitool/repository/api/xmlbeans/cms_update_flag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!-- xmlns:voy="http://www.exlibris.com/voyager/updateFlag/"-->

<schema
	targetNamespace="http://www.exlibris.com/voyager/updateFlag/"
	xmlns:voy="http://www.exlibris.com/voyager/updateFlag/"
	xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<complexType name="cms">
		<sequence>
			<element name="description" type="string" minOccurs="0"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
		<attribute name="status" type="string" use="required"/>
		<attribute name="urn" type="string" use="optional"/>
		<attribute name="existing_urn" type="string" use="optional"/>
	</complexType>

	<complexType name="error">
		<sequence>
			<element name="description" type="string" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="update_exist_in_preservation_flag_output">
		<complexType>
			<sequence>
				<element name="cms" type="voy:cms" minOccurs="0" maxOccurs="unbounded"/>
				<element name="error" type="voy:error" minOccurs="0" maxOccurs="1"/>
            </sequence>
        </complexType>
   	</element>
</schema>
