dgtconv/schemaorg_apache_xmlbeans/src/com/exlibris/digitool/repository/api/xmlbeans/metadata_job_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<schema
	targetNamespace="http://com/exlibris/digitool/repository/jobs/xmlbeans"
	xmlns:job="http://com/exlibris/digitool/repository/jobs/xmlbeans"
	xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<element name="adapter" type="string"/>
	<element name="adapter_param">
		<complexType>
			<attribute name="key" type="string" use="required"/>
			<attribute name="value" type="string" use="required"/>
		</complexType>
	</element>
	<element name="metadata_job_conf">
		<complexType>
			<sequence>
				<element ref="job:synch_job" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="synch_job">
		<complexType>
			<sequence>
				<element ref="job:adapter"/>
				<element ref="job:adapter_param" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
</schema>