dgtconv/schemaorg_apache_xmlbeans/src/com/exlibris/digitool/repository/api/xmlbeans/z66.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://com/exlibris/digitool/sds/xmlbeans" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
xmlns:sds="http://com/exlibris/digitool/sds/xmlbeans">	
	<xs:element name="staff-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="z66" type="sds:z66"/>
				<xs:element name="session-id" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="z66">
			<xs:sequence>
				<xs:element name="z66-user-name" type="xs:string" />
				<xs:element name="z66-user-library" type="xs:string"/>
				<xs:element name="z66-user-password" type="xs:string"/>
				<xs:element name="z66-user-password-enc" type="xs:string"/>
				<xs:element name="z66-user-cat-level" type="xs:string"/>
				<xs:element name="z66-function-proxy" type="xs:string"/>
				<xs:element name="z66-catalog-proxy" type="xs:string"/>
				<xs:element name="z66-budget-proxy" type="xs:string"/>
				<xs:element name="z66-order-unit-proxy" type="xs:string"/>
				<xs:element name="z66-user-own-create" type="xs:string"/>
				<xs:element name="z66-user-own-check" type="xs:string"/>
				<xs:element name="z66-user-circ-level" type="xs:string"/>
			</xs:sequence>
	</xs:complexType>
</xs:schema>
